.Login-con{
    width: 100vw;
    height: 100vh;
}

.nav{
    width: 100%;
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.signin{
    color: white;
    font-weight: 200;
    font-size: 16px;
    padding-right: 20px;
    padding-top: 13px;
}

.fa-long-arrow-right{
    color: white;
}

.logo{
    color: white;
    font-size: 30px;
    padding-left: 20px;
    cursor: pointer;
}

.login-body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.login-h1{
    color: white;
    font-size: 35px;
    padding-bottom: 15px;
    font-weight: 600;
}

.login-desc{
    color: grey;
    font-size: 15px;
}

.pad{
    padding-bottom: 30px;
}

.input{
    outline: none;
    padding: 15px 50px;
    border: none;
    background-color: #222222;
    font-size: 15px;
    border-radius: 5px;
}

.input:focus{
    border: 1px solid grey;
}

.login-btn{
    text-decoration: none;
    padding: 12px 58px;
    color: black;
    border-radius: 5px;
    /* background-image: linear-gradient(to right, #01C29A, #E7CE70); */
    background-image: linear-gradient(to right, #f09457, #e41679);
    cursor: pointer;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.privacy{
    color: white;
    padding-left: 20px;
    font-size: 12px;
}

.copyright{
    color: white;
    padding-right: 20px;
    font-size: 12px;
}

.email{
    margin: 10px 0;
}

.password{
    margin-bottom: 10px;
}

.login-ggl{
    text-decoration: none;
    padding: 12px 66px;
    color: white;
    background: linear-gradient(#050509, #050509) padding-box,linear-gradient(#f09457, #e41679) border-box;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.forgot{
    padding-top: 20px;
    font-size: 14px;
    color: white;
    font-weight: 200;
}

.fa-google{
    color: white;
}

